{erl_opts, [debug_info]}.
{deps, [
        lager,
        jsx,
        base64url]
}.
{shell, [
         % {config, "config/sys.config"},
         {apps, [google_oauth]}]}.
{relx, [{release, {google_oauth, "2.1.0"},[kernel,stdlib,sasl,google_oauth]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]}.
