{erl_opts, [debug_info]}.
{deps, [{lager, "3.8.1"},
        {jsx, "v3.0.0"},
        {base64url, "1.0.1"}]}.

{shell, [
         % {config, "config/sys.config"},
         {apps, [google_oauth]}]}.
{relx, [{release, {google_oauth, "2.1.0"},[kernel,stdlib,sasl,google_oauth]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]}.
